@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-charcoal text-white overflow-x-hidden;
  }

  h1,
  h2,
  h3 {
    @apply font-display uppercase tracking-tighter;
  }
}

.mesh-gradient {
  background-image: radial-gradient(at 0% 0%, rgba(255, 95, 0, 0.15) 0, transparent 50%),
    radial-gradient(at 100% 100%, rgba(255, 95, 0, 0.1) 0, transparent 50%);
}

.slanted-divider {
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
}

.glitch-text {
  text-shadow: 2px 0 #ff5f00, -2px 0 #0ff;
}

.industrial-pattern {
  background-image: radial-gradient(#333 1px, transparent 1px);
  background-size: 20px 20px;
}

.noise-overlay {
  background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuBKgZTiOkjqBoKXJBOk8KI4QjwgC_AIl201nGOHmPY1WjLVCKI8ZdcD_5t5HRgKMgXWN17J0t042qh1Jk8ZJsJn-kvk-t_KkIJzTenQDbiQxvT3glcgTjya9I-zfj-nIUJcca1lXL0L4DDjojAycLV7nThHcu4zstTl_pqFJCFn7xZPaFCfuoNIosm_hCyjyaET_l0evJECkYQisSAvcPviACPSI0o0Cf29K12ZcYMGEBhMCLATdQu3i_p1Kny70XRLPv3oAamvUDRl');
  opacity: 0.05;
  pointer-events: none;
}

.text-outline {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  color: transparent;
}
